body {
    text-align: center;
    margin: auto;
    background-size: auto;
    font-family: 'Pacifico', cursive;
}
.display-4 {
    color: #ae1903;
    font-size: 60px;
    }

.lead {
    font-size: 28px;
    }

.lead{
    color: #ff5600;
}    
.jumbotron {
    background: linear-gradient(to bottom right,#89b5ab, #56867a);
}
#recipe-name{
    color: #9cb805;
    font-size: 30px;
}

#results:empty{
    visibility: hidden;
}